body
{
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/badge-criteria-page_default-background.jpg');
  font-family: sans-serif;
  text-align: left;
  min-height: 100%;
}

a
{
  text-decoration: none;
  font-weight: bold;
  color: #9bf;
}

li
{
  padding: 0.2em;
}

#badge-header
{
  width: 660px;
  height: 263px;
  color: rgba(166, 0, 0, 0.0);
  background-position: center bottom;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url('../images/badge-criteria-page_default-header.png');
}

#badge-notice
{
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.50);
}

#badge-copyright
{
  text-align: right;
}

#main
{
  top: -48px;
  background-color: rgba(0, 0, 0, 0);
}
